<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>
            Any new language on
            <a href="https://news.ycombinator.com">Hacker News</a>
            today ?
        </h1>

        <h2> {{ message }} </h2>

        <footer>
            <ul>
                <li> <a href="#"> No copyright </a> </li>
                <li> This waste of time is <a href="#"> Open Source </a> </li>
            </ul>
        </footer>
    </body>
</html>
